<link rel="stylesheet" href="">
<h1>{{appTitle}} </h1>

<p>This is the home page with all user's cards</p>
<p>See more details</p>


<form action="/search" method="POST" class="form" id="search">
  <input type="text" id="locationInput" placeholder="Enter location" name="searchLocation" >
  <button type="submit">Search</button>
</form>



{{#each activePosts}}
    
    <p>Location: {{location}}</p>
    <p>Position: {{position}}</p>
    <p>Company: {{company}}</p>
    <p><a href="/post/{{_id}}">See more details</a> </p>
  

    <br>
    <br>


{{/each}}


