{{!-- <h1>{{appTitle}}</h1> --}}

<p>Welcome to your profile</p>

<div>
  <form action="/profile" method="POST" class="form">

    <div class="form-class">
      <label for="Name">Your name: </label>
      <input type="text" name="Name" id="Name" value="{{foundUser.name}}" />
    </div>

    <div class="form-class">
      <label for="Company">Name of the company who hired you</label>
      <input type="Company" name="Company" id="Company" value="{{foundUser.company}}" />
    </div>

    <div class="form-class">
      <label for="Location">Where's the company based?</label>

      <select class="form-select" id="Location" name="Location">
          <option>select country</option>    
          <option>Germany</option>
          <option>France</option>
          <option>Portugal</option>
          <option>Mexico</option>
          <option>Brazil</option>
          <option>Netherlands</option>
          <option>Spain</option>
          <option>United Kingdom</option>
          <option>United States</option>
          <option>Remote</option>
      </select>

     
    </div>

    <div class="form-class">
      <label for="Hiring">Is your company hiring other junior developers?</label>
      {{!-- <input type="checkbox" name="Hiring" id="Hiring"  value="{{foundUser.hiring}}" /> --}}
      <input type="checkbox" name="UserHiring" id="UserHiring" value="on" {{#if foundUser.hiring}}checked{{/if}}>

    </div>

    <div class="form-class">
      <label for="Position">What's the open role called?</label>
      <input type="Position" name="Position" id="Position" value="{{foundUser.position}}" />
    </div>

    <div class="form-class">
      <p>Are you jobless?
        <a class="active" href="/home">Checkout where other Ironhackers were hired</a>
      </p>
    </div>

     <button type="submit">submit</button>

  </form>
</div>

<script>
  // Example of prefilling a checkbox based on the "User hiring" value
  const userHiringCheckbox = document.getElementById("UserHiring");
  const userHiringValue = "{{foundUser.hiring}}"; // Replace with the actual value from your data

  if (userHiringValue === "on") {
    userHiringCheckbox.checked = true;
  } else {
    userHiringCheckbox.checked = false;
  }


   // Example of prefilling the dropdown based on the user location
  const userLocation = "{{foundUser.location}}"; // Replace with the actual value from your data or template engine

  const locationSelect = document.getElementById("Location");
  for (let i = 0; i < locationSelect.options.length; i++) {
    if (locationSelect.options[i].value === userLocation) {
      locationSelect.selectedIndex = i;
      break;
    }
  }
</script>