<div class="profile-top-div">
  <h1>{{appTitle}}</h1>

</div>

<div class="profile-mid-div">
  <div class="profile-mid-div-wrap">
    <p class="profile-welcome">Welcome to your profile, Ironhacker</p>
   <div class="image-container">
      <img class="profile-pic" src="https://images.unsplash.com/photo-1543652437-15ae836b33e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"> 
   </div>
    
    <div class="profile-form">
       
      <form action="/profile" method="POST" class="form">
      <label class="profile-labels" for="Name">What is your name? </label>
      <br>
      <input class="profile-inputs" type="text" name="Name" id="Name" value="{{foundUser.name}}" />
    </div>

    <div class="profile-form">
      <label  class="profile-labels" for="Company">What is the company who hired you?</label>
      <br>
      <input  class="profile-inputs" type="Company" name="Company" id="Company" value="{{foundUser.company}}" />
    </div>

    <div class="profile-form">
      <label  class="profile-labels" for="Location">Where's your company based?</label>
      <br>
      <select class="form-select" id="Location" name="Location">
          <option>select country</option>    
          <option>Germany</option>
          <option>France</option>
          <option>Portugal</option>
          <option>Mexico</option>
          <option>Brazil</option>
          <option>Netherlands</option>
          <option>Spain</option>
          <option>United Kingdom</option>
          <option>United States</option>
          <option>Remote</option>
      </select>
      <br>
    </div>

    <div class="profile-form">
      <label class="profile-labels" for="Hiring">Is your company hiring junior developers?</label>  
      <br>    
      <input type="checkbox" name="Hiring" id="Hiring" name="Hiring" {{#if foundUser.hiring}}checked{{/if}}>
    </div>


    <div class="profile-form">
      <label  class="profile-labels" for="Position">What is the name of the open role?</label>
      <br>
      <input  class="profile-inputs" type="Position" name="Position" id="Position" value="{{foundUser.position}}" />
    </div>

    <div class="profile-form-buttons">
        <button class="primary-button-narrow" type="submit">Submit</button>
        </form>
    </div>

    <div class="profile-form-buttons">
      <p  class="profile-welcome" >Still jobless? See other Junior Roles</p>
        <a class="active" href="/home">
           <button class="secondary-button-narrow">See all jobs</button></a>
      
    </div>
    </div>
</div>

<script>
  // Example of prefilling a checkbox based on the "hiring" value
  const userHiringCheckbox = document.getElementById("Hiring");
  const userHiringValue = "{{foundUser.hiring}}"; 
  if (userHiringValue === "on") {userHiringCheckbox.checked = true;
  } else {userHiringCheckbox.checked = false};
  
   // Example of prefilling the dropdown based on the user location
  const userLocation = "{{foundUser.location}}"; // Replace with the actual value from your data or template engine
  const locationSelect = document.getElementById("Location");
  for (let i = 0; i < locationSelect.options.length; i++) {
    if (locationSelect.options[i].value === userLocation) {
      locationSelect.selectedIndex = i;
      break;
    }
  }
</script>